.board{
	display: flex;
	flex-direction: column;
	width: 680px;
	height: 420px;
	.cells{
		display: flex;
		width: 100%;
		height: 80%;
		.cell{
			display: flex;
			flex-direction: column;
			width: (100%/9);
			height: 90%;
			padding: 10px;
			.score{
				order: 1;
				text-align: center;
			}
			.balls{
				order: 2;
				width: 100%;
				height: 100%;
				border: 1px solid #000;
				cursor: pointer;
			}
			.id{
				order: 3;
				text-align: center;
			}

		}
	}
	.overall-score{
		display: flex;
		width: 100%;
		height: 20%;		
		border-top: 1px solid;	
		.center-score{
			padding: 10px;
		}
		.center-balls{

		}
	}

	.opponent-side{
		width: 100%;
		height: 50%;
		border: 1px solid #000;
		.cells{
			display: flex;
			flex-direction: row-reverse;
		}
	}
	.own-side{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 50%;
		border: 1px solid #000;
		.overall-score{
			order: 1;
			border: none;
			border-bottom: 1px solid;
		}
		.cells{
			order: 2;
			.cell .id{
				order: 1;
			}
			.cell .score{
				order: 3;
			}
		}
	}


}